doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        title
        link(rel="stylesheet", href="css/styles.css", attr)
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", attr)
        link(rel="stylesheet", href="https://necolas.github.io/normalize.css/6.0.0/normalize.css", attr)
    body
        .modal
            .modal-box
                .modal-close
                    i(class="fa fa-times-circle-o" aria-hidden="true")
                .operations#ya-operations
                .operations#yb-operations
                .operations#ka-operations
                .operations#kb-operations

        .container
            form(action="#" method="" onsubmit="calculateKeys(event)")
                .content
                    section#person-A.person
                        .person-icon
                            i(class="fa fa-user" aria-hidden="true")
                        .diffie-hellman
                            .x-key
                                input(type="text" placeholder!="Xᵃ" class="box input-box" id="xa-key" pattern="[0-9]+" required="true")
                            .y-key
                                .box.box-result#ya-value Yᵃ
                            .k-key
                                .box.box-result#ka-value Kᵃ
                    section#person-B.person
                        .person-icon
                            i(class="fa fa-user" aria-hidden="true")
                        .diffie-hellman
                            .x-key
                                input(type="text" placeholder!="Xᵇ" class="box input-box" id="xb-key" pattern="[0-9]+" required="true")
                            .y-key
                                .box.box-result#yb-value Yᵇ
                            .k-key
                                .box.box-result#kb-value Kᵇ
                    .alpha-primo
                        input(type="text" placeholder="\u03B1" class="box input-box" id="alpha" pattern="[0-9]+" required="true")
                        input(type="text" placeholder="P" class="box input-box" id="prime" pattern="[0-9]+" required="true")
                input(type="submit" value="CREAR CLAVES" )
        script(src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous")
        script(src="js/table.js")
        script(src="js/diffie-hellman.js")    
        script(src="js/main.js")
      
