doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        title
        link(rel="stylesheet", href="css/styles.css", attr)
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", attr)
        link(rel="stylesheet", href="https://necolas.github.io/normalize.css/6.0.0/normalize.css", attr)
    body
        .modal
            .modal-box
                .modal-close
                    i(class="fa fa-times-circle-o" aria-hidden="true")
                .key-operations
                    .operations#y0-operations
                    .operations#y1-operations
                    .operations#k0-operations
                    .operations#k1-operations

        .container
            .singular-data
                .input-field
                    label Nº DE PARTICIPANTES
                    input(type="number" min="2" max="10" value="2" id="parties-number" class="box input-box")
                .input-field
                    label ALFA
                    input(type="text" placeholder="\u03B1" class="box input-box" id="alpha" pattern="[0-9]+" required="true" value="5")
                .input-field
                    label MODULO
                    input(type="text" placeholder="P" class="box input-box" id="prime" pattern="[0-9]+" required="true" value="17")
            
            form(action="#" method="" onsubmit="calculateKeys(event)" class="data-parties")
                #parties
            
                div
                    input(type="submit" value="CREAR CLAVES" )
        script(src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous")
        script(src="js/table.js")
        script(src="js/diffie-hellman.js")    
        script(src="js/main.js")
      
